---
notes: |
  Buttons come in a variety of colors including Primary (default), Secondary, Alternate, Accent, and even Base. We also have a "flat" or "ghost" variation.

  The `.btn` class can be applied to any element to add this ui appearance, particularly hyperlinks. Therefore, we also have a variety of states included such as `:hover` and `:focus`.
---
<button class="btn">Submit</button>
<button class="btn btn--secondary">Submit</button>
<button class="btn btn--alternate">Submit</button>
<button class="btn btn--accent">Submit</button>
<button class="btn btn--base">Submit</button>
<button class="btn btn--flat">Submit</button>
<button class="btn btn--flat btn--secondary">Submit</button>
<button class="btn btn--flat btn--accent">Submit</button>
<button class="btn btn--flat btn--alternate">Submit</button>
<button class="btn btn--flat btn--base">Submit</button>
