---
notes: |
  To simplify use of common icons we also have a `icon` base class that applies the appropriate `fax` base for a given icon. Here is the full library of those currently available:
---
<ul class="icon-group icon-group--size-display-3 icon-group--tiles">
  <li>
    <i class="icon icon--caret-down"></i>
    caret-down
  </li>
  <li>
    <i class="icon icon--radio"></i>
    radio
  </li>
  <li>
    <i class="icon icon--radio-on"></i>
    radio-on
  </li>
  <li>
    <i class="icon icon--checkbox"></i>
    checkbox
  </li>
  <li>
    <i class="icon icon--checkbox-on"></i>
    checkbox-on
  </li>
  <li>
    <i class="icon icon--church"></i>
    church
  </li>
  <li>
    <i class="icon icon--phone"></i>
    phone
  </li>
  <li>
    <i class="icon icon--map-pointer"></i>
    map-pointer
  </li>
  <li>
    <i class="icon icon--youtube"></i>
    youtube
  </li>
  <li>
    <i class="icon icon--facebook"></i>
    facebook
  </li>
  <li>
    <i class="icon icon--podcast"></i>
    podcast
  </li>
</ul>
