---
notes: |
  To simplify use of common icons we also have a `icon` base class that applies the appropriate `fax` base for a given icon. Here is the full library of those currently available:
---
<i class="icon icon--caret-down"></i>
<i class="icon icon--radio"></i>
<i class="icon icon--radio-on"></i>
<i class="icon icon--checkbox"></i>
<i class="icon icon--checkbox-on"></i>
<i class="icon icon--church"></i>
<i class="icon icon--phone"></i>
<i class="icon icon--map-pointer"></i>
<i class="icon icon--youtube"></i>
<i class="icon icon--facebook"></i>
<i class="icon icon--podcast"></i>
