---
notes: |
  Icons can also be modified to apply any of the system colors.
---
<ul class="icon-group icon-group--size-display-3 icon-group--tiles">
  <li>
    <i class="icon icon--church"></i>
    base
  </li>
  <li>
    <i class="icon icon--church icon--color-primary"></i>
    primary
  </li>
  <li>
    <i class="icon icon--church icon--color-secondary"></i>
    secondary
  </li>
  <li>
    <i class="icon icon--church icon--color-accent"></i>
    accent
  </li>
  <li>
    <i class="icon icon--church icon--color-alternate"></i>
    alternate
  </li>
</ul>
