
*[aria-hidden="true"],
.visually-hidden {
  @include visually-hidden;
}

body {
  color: color(base, 200);
}

.grid-on {
  background-image: url("/assets/toolkit/images/grid-unit.png");
}

html {
  font-size: 10px;
}
