.field {
  margin-bottom: 20px;
  display: flex;
  flex-flow: row wrap;
}

.field__label {
  @extend %type-base-em;
  @extend %type-block-base-em;

  margin-bottom: baseline(.5);
  width: 100%;
}

.field__feedback {
  margin-top: baseline(.5);
  display: none;

  > p {
    @extend %type-base-em;
    @extend %type-block-base-em;
  }

  .field--feedback & {
    color: color(base);
    display: block;
  }

  .field--success & {
    color: color(secondary);
    display: block;
  }

  .field--error & {
    color: color(accent);
    display: block;
  }

  margin-bottom: 10px;
  width: 100%;
}

.field__control {
  width: 100%;
}

.field-control {
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  > input[type="text"],
  > input[type="email"],
  > select,
  > textarea {
    @extend %type-base;

    padding-top: calc(var(--pad-top-level-5) + #{baseline-minus(0.5, 1px)});
    padding-right: $grid-pad-half - 1px;
    padding-bottom: calc(var(--pad-bottom-level-5) + #{baseline-minus(0.5, 1px)});
    padding-left: $grid-pad-half - 1px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border: 1px solid color(base, 700);
    border-radius: 1px;
    color: color(base, 200);

    @include transition((box-shadow, border-color));

    &:focus {
      border-color: color(primary);
      outline: none;
      box-shadow: 0 0 0 2px color(primary);
    }

    .field--success & {
      border-color: color(secondary);

      &:focus {
        box-shadow: 0 0 0 2px color(secondary);
      }
    }

    .field--error & {
      border-color: color(accent);

      &:focus {
        box-shadow: 0 0 0 2px color(accent);
      }
    }

    .field--disabled &,
    &[disabled="disabled"] {
      border-color: color(base, 600);
      background-color: color(base, 900);
      color: color(base, 600);
      pointer-events: none;

      &:focus {
        &:focus {
          box-shadow: 0 0 0 2px color(base);
        }
      }
    }
  }

  > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  > textarea {
    min-height: baseline(5.5);
  }

  > input[type="checkbox"],
  > input[type="radio"] {
    opacity: 0;
    height: 0;
    width: 0;

    + label {
      @extend %type-base;
      @extend %type-block-base;

      &::before {
        margin-right: 10px;
        display: inline-block;
        transform: translateY(1px);
      }
    }

    &:not(:checked):not(:focus) {
      + label::before {
        color: color(base, 600);
      }
    }

    &:checked {
      + label::before {
        color: color(base, 200);
      }
    }

    &:focus {
      + label::before {
        color: color(primary);
      }
    }
  }

  > input[type="checkbox"] {
    &:not(:checked) {
      + label {
        @include icon-embed(checkbox);
      }
    }

    &:checked {
      + label {
        @include icon-embed(checkbox-on);
      }
    }
  }

  > input[type="radio"] {
    &:not(:checked) {
      + label {
        @include icon-embed(radio);
      }
    }

    &:checked {
      + label {
        @include icon-embed(radio-on);
      }
    }
  }
}

.field-control--select {
  position: relative;

  @include icon-embed(caret-down, after, null, display-3) {
    display: block;
    position: absolute;
    @include position(14px, 10px);
  }
}
