a {
  &:not([class]) {
    display: inline-block;
    color: color(primary);

    &:hover {
      color: color(primary, 300);
    }

    &:focus {
      color: color(primary, 200);
      background-color: color(primary, 900);
      outline: none;
      padding: 0 2px;
      margin: 0 -2px;
      border-radius: 1px;
    }
  }
}
