.households-wrapper {}

.households {
  display: flex;
  flex-flow: row wrap;
}

.household {
  width: calc(50% - 20px);
  box-sizing: border-box;
  margin: 10px;
  padding: 9px;
  border: 1px solid color(base, 800);
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: baseline(2.5) baseline(1.5) auto auto auto;
  grid-column-gap: 10px;
  grid-template-areas:
    "sur     other"
    "phone   email"
    "members img"
    "members img"
    "members img"
}

.household__surname {
  @extend %type-display-3;
  @extend %type-block-display-3;

  white-space: nowrap;
  overflow: hidden;
  grid-area: sur;
}

.household__email {
  @extend %type-base;
  @extend %type-block-base;

  overflow: hidden;
  grid-area: email;
}

.household__phone {
  @extend %type-base;
  @extend %type-block-base;

  overflow: hidden;
  grid-area: phone;
}

.household__contact-other {
  @extend %type-block-base;

  overflow: hidden;
  grid-area: other;

  > p {
    @extend %type-base;

    text-indent: -$grid-pad-half;
    padding-left: $grid-pad-half;
  }
}

.household__image {
  grid-area: img;

  img {
    display: block;
    max-width: 100%;
  }
}

.household__members {
  @extend %type-lead;
  @extend %type-block-lead;

  overflow: hidden;
  white-space: nowrap;
  grid-area: members;
}
