{{> masthead}}

{{> section-header.display-1}}

{{> spread}}

{{> section-header.display-2}}

{{> tile.basic}}

{{> section-header.display-2}}
{{> tile.illustration}}
{{> tile.facehole}}

{{> section-header.display-2}}


<div class="fliers">
  {{> flier}}
  {{> flier}}
  {{> flier}}
  {{> flier}}
</div>

<div class="spread">
  <div class="spread__figure figure">
    <img src="/assets/toolkit/images/demo-image.png" />
  </div>
  <div class="spread__content">
    {{> schedule }}
    {{> schedule }}
  </div>
</div>

{{> section-header.display-2}}

{{> blob}}

{{> footer}}
