.blob {
  margin-right: auto;
  margin-left: auto;
  padding-right: $grid-pad;
  padding-left: $grid-pad;
  max-width: 800px;
  margin-bottom: baseline(4);
}

.blob__cta {
  margin-top: baseline();
  display: flex;
  justify-content: center;
}

.blob__figure {
  max-width: 440px;
  margin-top: baseline(.5);
  margin-bottom: baseline();
  min-height: baseline(8);
  max-height: baseline(16);

  @include figure-border-radius();

  @include media-max(1119px) {
    margin-right: auto;
    margin-left: auto;
  }

  @include media-min(1120px) {
    clear: both;
    float: right;
    margin-right: -($grid-column + $grid-gutter);
    margin-left: $grid-gutter;
  }
}

.blob__figure--left {
  @include media-min(1120px) {
    float: left;
    margin-right: $grid-gutter;
    margin-left: -($grid-column + $grid-gutter);
  }
}
