button:not(.unstyled),
.btn {
  @extend %type-label;

  padding-top: calc(#{baseline(.5)} + #{type-pad-top(base)});
  padding-bottom: calc(#{baseline(.5)} + #{type-pad-bottom(base)});
  padding-left: $grid-pad;
  padding-right: $grid-pad;
  display: inline-block;
  border: none;
  outline: none;
  background-color: color(primary);
  color: color(white);
  position: relative;
  border-radius: 1px;
  text-decoration: none;

  @include transition((background-color, color));

  &::after {
    display: block;
    content: "";
    border: 2px solid color(primary, 800);
    border-radius: 3px;
    position: absolute;
    opacity: 0;

    @include position(-2px, -2px, -2px, -2px);
    @include transition(opacity);
  }

  &:hover {
    background-color: color(primary, 400);
    text-decoration: none;
    cursor: pointer;
  }

  &:focus {
    background-color: color(primary, 400);

    &::after {
      opacity: 1;
    }
  }

  &.btn--flat {
    color: color(primary, 400);
    background-color: transparent;

    &:hover {
      background-color: color(primary, 900);
    }
  }

  @each $color-name, $color-set in $colors {
    &.btn--#{$color-name} {
      background-color: color($color-name);

      &::after {
        border-color: color($color-name, 800);
      }

      &:hover {
        background-color: color($color-name, 400);
      }

      &.btn--flat {
        color: color($color-name, 400);
        background-color: transparent;

        &:hover {
          background-color: color($color-name, 900);
        }
      }
    }
  }
}
