.figure {
  > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.figure--native,
.figure--svg {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  > img {
    object-fit: initial;
  }
}

.figure--native {
  > img {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }
}
