///
/// Icon base class
///
.icon {
  display: inline-block;
  font-size: var(--icon-size);

  &:not([class*="icon--size-"]) {
    --icon-size: var(--icon-size-base);
  }

  &:not([class*="icon--color-"]) {
    color: color(base, 200);
  }
}

.icon-before {
  &::before {
    margin-right: 5px;
  }
}

.icon-after {
  &::after {
    margin-left: 5px;
  }
}

///
/// Icon group to place on groups of icons or containers of icons for consistent styling
///
.icon-group {}

.icon-group--tiles {
  display: grid;
  grid-column-gap: $grid-pad-half;
  grid-row-gap: baseline(2);
  align-items: center;

  @include media-for(phone) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include media-for(tablet) {
    grid-template-columns: repeat(6, 1fr);
  }

  @include media-for(desktop) {
    grid-template-columns: repeat(10, 1fr);
  }

  li {
    border-radius: 2px;
    text-align: center;
    padding: 10px 5px;

    .icon {
      display: block;
      margin-bottom: 5px;
    }
  }
}

///
/// Icon color variations
///
$icon-colors: (
  primary,
  secondary,
  alternate,
  accent
);
@each $color in $icon-colors {
  .icon--color-#{$color},
  .icon-group--color-#{$color} .icon,
  .icon-after--color-#{$color}::after,
  .icon-before--color-#{$color}::before {
    color: color($color);
  }
}

///
/// Icon size variations
///
$icon-sizes: (
  sub,
  display-1,
  display-2,
  display-3
);
@each $size in $icon-sizes {
  .icon--size-#{$size},
  .icon-group--size-#{$size} .icon {
    --icon-size: var(--icon-size-#{$size});
  }
}

///
/// Preset icon options
///
@each $icon-name, $icon-config in $fa-icon-list {
  .icon--#{$icon-name} {
    @extend .#{map-get($icon-config, default-set)};
    @extend .#{map-get($icon-config, icon)};
  }

  .icon-before--#{$icon-name} {
    @include icon-embed($icon-name);
  }

  .icon-after--#{$icon-name} {
    @include icon-embed($icon-name, after);
  }
}
