.logo {
  width: 100%;
  max-width: 340px;

  svg {
    width: 100%;
  }
}

.logo--inline {
  max-width: 400px;
}

.logo--wordmark {
  min-width: 185px;
  max-width: 290px;

  .footer & {
    grid-area: brand;

    @include media-max(719px) {
      margin-right: auto;
      margin-left: auto;
    }

    @include media-min(720px) {
      margin-left: auto;
    }

    @include media-max(1079px) {
      padding-top: 4px;
      width: 185px;
      height: 46px;
    }

    @include media-min(1080px) {
      padding-top: 8px;
      width: 290px;
      height: 72px;
    }
  }

  .masthead & {
    grid-area: brand;
    padding-top: 4px;
    align-self: center;

    @include media(600px, 1079px) {
      transform: translateY(-5px);
    }

    @include media-max(1079px) {
      width: 185px;
      height: 46px;
    }

    @include media-min(1080px) {
      transform: translateY(-13px);
      width: 290px;
      height: 73px;
    }

    @include media(1080px, 1264px) {
      transform: translateY(-17px);
    }

    @include media-min(1265px) {
      transform: translateY(-13px);
    }
  }
}

.logo__church {
  fill: color(base, 200);

  .logo--mono-light & {
    fill: color(white);
  }

  .logo--mono-dark & {
    fill: color(base, 200);
  }
}

.logo__dayton-ave {
  fill: color(primary);

  .logo--mono-light & {
    fill: color(white);
  }

  .logo--mono-dark & {
    fill: color(base, 200);
  }
}

.logo__text {
  @include visually-hidden;
}
