.masthead {
  padding-right: $grid-pad;
  padding-left: $grid-pad;
  display: grid;
  grid-column-gap: 30px;
  background-color: color(primary, 300);
  color: color(primary, 900);

  @include media-max(599px) {
    grid-template-columns: 1fr 40px;
    grid-template-areas:
      "brand    menu-icon"
      "nav-main nav-main"
      "address  address"
      "nav-sub  nav-sub";
    grid-template-rows: baseline(4) 0 0 0;
  }

  @include media(600px, 959px) {
    grid-template-columns: grid-width(2, false) auto 50px;
    grid-template-areas:
      "brand    address  menu-icon"
      "nav-main nav-main nav-main"
      "nav-sub  nav-sub  nav-sub";
    grid-template-rows: baseline(6) 0 0;
  }

  @include media-min(960px) {
    grid-template-areas:
      "brand address  nav-sub"
      "brand nav-main nav-main";
  }

  @include media(960px, 1264px) {
    padding-top: baseline();
    grid-template-columns: grid-width(2, false) 1fr auto;
    grid-template-rows: baseline(2) baseline(3);
  }

  @include media-min(1265px) {
    padding-top: baseline(1.5);
    grid-template-columns: grid-width(3, false) 1fr auto;
    grid-template-rows: baseline(3) baseline(3.5);
  }

  @include media(1440px) {
    @include center-pad(1400px);
  }

  a {
    color: color(primary, 800);
    text-decoration: none;
    display: block;

    &:hover {
      color: color(white);
    }

    &:focus {
      background-color: transparent;
      color: color(primary, 800);

      @include focus-box(color(primary, 800));
    }
  }
}

.masthead--mobile-nav-on {
  @include media-max(599px) {
    grid-template-rows: baseline(4) 1fr baseline(4) baseline(4.5);
  }

  @include media(600px, 959px) {
    grid-template-rows: baseline(6) 1fr baseline(5.5);
  }

  @include media-max(959px) {
    height: 100vh;
  }
}

.masthead__menu-icon {
  padding-left: 0;
  padding-right: 0;
  grid-area: menu-icon;
  text-align: center;
  align-self: center;

  @include media(600px, 959px) {
    height: baseline(3);
  }

  @include media-min(960px) {
    display: none;
  }
}

.masthead__address {
  grid-area: address;
  text-align: center;
  overflow: hidden;

  @include media-max(599px) {
    margin-right: -$grid-pad;
    margin-left: -$grid-pad;
    background-color: color(primary, 100);

    .masthead--mobile-nav-on & {
      padding-top: baseline();
    }
  }

  @include media(600px, 959px) {
    text-align: right;
    align-self: center;
  }

  @include media-min(960px) {
    display: flex;
    justify-content: flex-end;
  }
}

.masthead__address__phone,
.masthead__address__street {
  @extend %type-block-base;
  @extend %type-base;

  &::before {
    @include media-max(959px) {
      display: none;
    }
  }

  &:not(:last-child) {
    @include media-min(960px) {
      margin-right: $grid-gutter;
    }
  }
}

.masthead__nav-sub {
  grid-area: nav-sub;
  overflow: hidden;

  @include media-max(959px) {
    margin-right: -$grid-pad;
    margin-left: -$grid-pad;
    background-color: color(primary, 100);
    text-align: center;
  }

  @include media(600px, 959px) {
    .masthead--mobile-nav-on & {
      padding-top: baseline();
    }
  }

  @include media-min(960px) {
    display: flex;
  }
}

.masthead__nav-main {
  grid-area: nav-main;
  overflow: hidden;

  @include media-max(959px) {
    margin-right: -$grid-pad;
    margin-left: -$grid-pad;
    background-color: color(primary, 200);
  }
}
