$-nav-main-item-focus-top-offset: 4px;

.nav {
  @include media-max(959px) {
    padding: baseline() $grid-pad;
    display: block;
  }

  @include media-min(960px) {
    display: flex;
    justify-content: flex-end;
  }
}

.nav--socials {
  display: flex;

  @include media-max(959px) {
    justify-content: center;
  }

  @include media-min(960px) {
    justify-content: flex-end;
    margin-right: -$grid-pad-half;
  }
}

.nav--main {
  @include media-max(959px) {
    padding: baseline() $grid-pad;
  }
}

.nav--socials {
  @include media-max(959px) {
    padding: baseline(.5) $grid-pad;
  }

  @include media-min(960px) {
    padding: 7px 0 0;
  }
}

.nav__item {
  display: block;

  .nav--main & {
    @extend %type-display-4;

    padding-top: $-nav-main-item-focus-top-offset;

    &:not(:last-child) {
      margin-bottom: baseline(.5);

      @include media(960px, 1264px) {
        margin-right: $grid-gutter;
      }

      @include media-min(1265px) {
        margin-right: $grid-gutter * 2;
      }
    }
  }

  .nav--socials & {
    margin-right: $grid-pad-half;
    margin-left: $grid-pad-half;
  }
}

.nav__link {
  margin-right: -$grid-pad-half;
  margin-left: -$grid-pad-half;
  padding-right: $grid-pad-half;
  padding-left: $grid-pad-half;
  display: block;
  border-radius: 2px;

  .nav--main & {
    border-style: solid;

    @include media-max(959px) {
      padding-top: calc(var(--pad-top-level-4) - #{$-nav-main-item-focus-top-offset});
      padding-bottom: var(--pad-bottom-level-4);
      border-width: 0 0 0 6px;
    }

    @include media-min(960px) {
      padding-top: calc(var(--pad-top-level-4) - #{$-nav-main-item-focus-top-offset});
      border-width: 0 0 10px 0;
    }

    @include media(960px, 1264px) {
      padding-bottom: calc(var(--pad-bottom-level-4) + #{baseline(.5)});
    }

    @include media-min(1265px) {
      padding-bottom: calc(var(--pad-bottom-level-4) + #{baseline()});
    }
  }

  .nav--main :not(.nav__item--active) & {
    border-color: transparent;
  }

  .nav--main .nav__item--active & {
    border-color: color(white);
  }
}

.nav__link--standalone {
  @extend %type-base;
  @extend %type-block-base;

  @include media-max(959px) {
    margin-right: $grid-pad;
    margin-left: $grid-pad;
  }

  &:not(:last-child) {
    @include media-min(960px) {
      margin-right: $grid-gutter;
    }
  }
}
