.nav {
  @include media-max(959px) {
    padding: baseline(.5) $grid-pad;
    display: block;
  }

  @include media-min(960px) {
    display: flex;
    justify-content: flex-end;
  }
}

.nav__item {
  display: block;

  &:not(:last-child) {
    @include media-min(960px) {
      margin-right: $grid-gutter;
    }
  }

  .nav--main & {
    @extend %type-display-3;
  }
}

.nav__link {
  margin-right: -$grid-pad-half;
  margin-left: -$grid-pad-half;
  padding-right: $grid-pad-half;
  padding-left: $grid-pad-half;
  display: block;
  border-radius: 2px;

  .nav--main & {
    margin-top: 5px;
    padding-top: calc(var(--pad-top-level-3) - 5px);
    padding-bottom: var(--pad-bottom-level-3);
    border-style: solid;

    @include media-max(959px) {
      border-width: 0 0 0 6px;
    }

    @include media-min(960px) {
      border-width: 0 0 6px 0;
    }
  }

  .nav--main :not(.nav__item--active) & {
    border-color: transparent;
  }

  .nav--main .nav__item--active & {
    border-color: color(white);
  }
}

.nav__link--standalone {
  &:not(:last-child) {
    @include media-min(960px) {
      margin-right: $grid-gutter;
    }
  }
}
