.tiles {
  margin-top: baseline(4);
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;

  .section-header + & {
    margin-top: baseline(2);
  }
}

.tiles-cta {
  margin-bottom: baseline(4);
}

.tile {
  padding-right: $grid-pad;
  padding-left: $grid-pad;
  box-sizing: border-box;

  @include media-max(599px) {
    width: 100%;
    margin-bottom: baseline();
  }

  @include media-min(600px) {
    margin-right: $grid-pad;
    margin-left: $grid-pad;
  }

  @include media(600px, 1079px) {
    width: calc(100% / 2 - #{$grid-gutter});
    margin-bottom: baseline(2);
  }

  @include media-min(1080px) {
    width: calc(100% / 3 - #{$grid-gutter});
    margin-bottom: baseline(3);
  }
}

.tile__cta {
  margin-top: baseline(.5);
}

.tile__name {
  @extend %type-display-4;
  @extend %type-block-display-4;

  text-align: center;
}

.tile__title {
  @extend %type-display-4;
  @extend %type-block-display-4;

  text-align: center;

  .tile--facehole & {
    @extend %type-sub;
    @extend %type-block-sub;
  }
}

.tile__figure {
  margin-right: auto;
  margin-bottom: baseline(.5);
  margin-left: auto;
  max-width: 360px;

  @include figure-border-radius();

  .tile--facehole & {
    border-radius: 50%;
    overflow: hidden;
  }

  @include media-max(839px) {
    height: baseline(9);

    .tile--facehole & {
      width: baseline(9);
    }

    .tile--illustration & {
      height: baseline(5);
    }
  }

  @include media(840px, 1079px) {
    height: baseline(12);

    .tile--facehole & {
      width: baseline(10);
      height: baseline(10);
    }

    .tile--illustration & {
      height: baseline(7);
    }
  }

  @include media(1080px, 1319px) {
    height: baseline(7);

    .tile--facehole & {
      width: baseline(7);
    }

    .tile--illustration & {
      height: baseline(5);
    }
  }

  @include media-min(1320px) {
    height: baseline(10);

    .tile--facehole & {
      width: baseline(10);
    }

    .tile--illustration & {
      height: baseline(6);
    }
  }
}
