---
notes: |
  Buttons come in a variety of colors including Primary (default), Secondary, Alternate, Accent, and Base. Note that when used on elements other than `button`s the `.btn` base class must also be provided.
---
<button>Submit</button>
<button class="btn--secondary">Submit</button>
<button class="btn--alternate">Submit</button>
<button class="btn--accent">Submit</button>
<button class="btn--base">Submit</button>

<br/>

<button class="btn--flat">Submit</button>
<button class="btn--flat btn--secondary">Submit</button>
<button class="btn--flat btn--alternate">Submit</button>
<button class="btn--flat btn--accent">Submit</button>
<button class="btn--flat btn--base">Submit</button>
